
.icon-user:before { content: '\e800'; } /* '' */
.icon-doc:before { content: '\e801'; } /* '' */
.icon-beaker:before { content: '\e802'; } /* '' */
.icon-cloud:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-diamond:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-chart-bar:before { content: '\e807'; } /* '' */
.icon-edit:before { content: '\e808'; } /* '' */
.icon-retweet:before { content: '\e809'; } /* '' */
.icon-floppy:before { content: '\e80a'; } /* '' */
.icon-vcard:before { content: '\e80b'; } /* '' */
.icon-list-alt:before { content: '\e80c'; } /* '' */
.icon-cog-alt:before { content: '\e80d'; } /* '' */
.icon-basket:before { content: '\e80e'; } /* '' */
.icon-flight:before { content: '\e80f'; } /* '' */
.icon-lamp:before { content: '\e810'; } /* '' */
.icon-wrench:before { content: '\e811'; } /* '' */
.icon-truck:before { content: '\e812'; } /* '' */
.icon-videocam:before { content: '\e813'; } /* '' */
.icon-hammer:before { content: '\e814'; } /* '' */
.icon-award:before { content: '\e815'; } /* '' */
.icon-briefcase:before { content: '\e816'; } /* '' */
.icon-chat:before { content: '\e817'; } /* '' */
.icon-users:before { content: '\e818'; } /* '' */
.icon-users-1:before { content: '\e819'; } /* '' */
.icon-droplet:before { content: '\e81a'; } /* '' */
.icon-megaphone:before { content: '\e81b'; } /* '' */
.icon-heart-1:before { content: '\e81c'; } /* '' */
.icon-arrows-ccw:before { content: '\e81d'; } /* '' */
.icon-user-add:before { content: '\e81e'; } /* '' */
.icon-up-open-big:before { content: '\e81f'; } /* '' */
.icon-headphones:before { content: '\e820'; } /* '' */
.icon-archive:before { content: '\e821'; } /* '' */
.icon-phone:before { content: '\e822'; } /* '' */
.icon-export:before { content: '\e823'; } /* '' */
.icon-inbox:before { content: '\e824'; } /* '' */
.icon-umbrella:before { content: '\e825'; } /* '' */
.icon-picture:before { content: '\e826'; } /* '' */
.icon-star:before { content: '\e827'; } /* '' */
.icon-indent-right:before { content: '\e828'; } /* '' */
.icon-calendar:before { content: '\e829'; } /* '' */
.icon-th:before { content: '\e82a'; } /* '' */
.icon-road:before { content: '\e82b'; } /* '' */
.icon-flag:before { content: '\e82c'; } /* '' */
.icon-globe:before { content: '\e82d'; } /* '' */
.icon-down:before { content: '\e82e'; } /* '' */
.icon-up:before { content: '\e82f'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-anchor:before { content: '\f13d'; } /* '' */
.icon-yen:before { content: '\f157'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-vkontakte:before { content: '\f354'; } /* '' */